body {
    background-image: url("https://vignette.wikia.nocookie.net/hamiltonmusical/images/f/ff/Wiki_background.jpeg/revision/latest?cb=20160813025822&format=original");
    background-color: gold;
 }

 h1, h2 {
     font-color: white;
 }

